#### _NYC DCP Regional Planning Division_

# US Metros comparison -- BLS-QCEW
## comparison by the county level of 17 regions (CSA's) accross the country

Author: Dana Chermesh, Summer Intern

Data Source: [Bureau of Labor Statistics, Quarterly Census of Employment and Wages](https://www.bls.gov/cew/datatoc.htm) (BLS-QCEW)

# 0 - Imports

In [1]:
import requests
import pandas as pd
import numpy as np

from __future__ import print_function, division
import matplotlib.pylab as pl
# from pandas.tools.plotting import scatter_matrix
import seaborn as sns
sns.set_style('whitegrid')
# import json
# import geopandas as gpd
# import fiona
# import shapely

import statsmodels.formula.api as smf
import statsmodels.api as sm

%pylab inline

Populating the interactive namespace from numpy and matplotlib

# 1 - Data acquisition

## Download directly from the BLS-QCEW website

The following code was downloaded from the [BLS-QCEW website](https://data.bls.gov/cew/doc/access/data_access_examples.htm#PYTHON), sapmle code for Python 3 ([Download](https://data.bls.gov/cew/doc/access/qcew_python_3x_example.zip))

In [2]:
import urllib.request
import urllib

# *******************************************************************************
# qcewCreateDataRows : This function takes a raw csv string and splits it into
# a two-dimensional array containing the data and the header row of the csv file
# a try/except block is used to handle for both binary and char encoding
def qcewCreateDataRows(csv):
    dataRows = []
    try: dataLines = csv.decode().split('\r\n')
    except er: dataLines = csv.split('\r\n');
    for row in dataLines:
        dataRows.append(row.split(','))
    return dataRows
# *******************************************************************************


# *******************************************************************************
# qcewGetAreaData : This function takes a year, quarter, and area argument and
# returns an array containing the associated area data. Use 'a' for annual
# averages. 
# For all area codes and titles see:
# http://www.bls.gov/cew/doc/titles/area/area_titles.htm
#
def qcewGetAreaData(year,qtr,area):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/[QTR]/area/[AREA].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[QTR]",qtr.lower())
    urlPath = urlPath.replace("[AREA]",area.upper())
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)
# *******************************************************************************


# *******************************************************************************
# qcewGetIndustryData : This function takes a year, quarter, and industry code
# and returns an array containing the associated industry data. Use 'a' for 
# annual averages. Some industry codes contain hyphens. The CSV files use
# underscores instead of hyphens. So 31-33 becomes 31_33. 
# For all industry codes and titles see:
# http://www.bls.gov/cew/doc/titles/industry/industry_titles.htm
#
def qcewGetIndustryData(year,qtr,industry):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/[QTR]/industry/[IND].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[QTR]",qtr.lower())
    urlPath = urlPath.replace("[IND]",industry)
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)
# *******************************************************************************


# *******************************************************************************
# qcewGetSizeData : This function takes a year and establishment size class code
# and returns an array containing the associated size data. Size data
# is only available for the first quarter of each year.
# For all establishment size classes and titles see:
# http://www.bls.gov/cew/doc/titles/size/size_titles.htm
#
def qcewGetSizeData(year,size):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/1/size/[SIZE].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[SIZE]",size)
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)
# *******************************************************************************

# examples >> (hashed)

# Michigan_Data = qcewGetAreaData("2015","1","26000")
# Auto_Manufacturing = qcewGetIndustryData("2015","1","3361")
# SizeData = qcewGetSizeData("2015","6")

# # prints the industry_code in row 5.
# # remember row zero contains field names
# print(Michigan_Data[5][2])


# # prints the area_fips in row 1.
# # remember row zero contains field names
# print(Auto_Manufacturing[1][0])


# # prints the own_code in row 1.
# # remember row zero contains field names
# print(SizeData[1][1])

##  Reading in geo-coded dataset
created on a different notebook, please refer to _**0_US_Metro_Comparison_Geographies**_

In [6]:
geo = pd.read_csv('../Regional_USmetros_comparison/data/USmetros_full.csv').iloc[:,:-2] \
            .drop(['Unnamed: 0', 'SHAPE_AREA'], axis=1)
geo['STCO'] = geo['STCO'].apply(lambda x: '{0:0>5}'.format(x))

print(geo.shape)
geo.head()

(270, 4)

   CSA                            CSA_name   County_name   STCO
0  488  San Jose-San Francisco-Oakland, CA       Alameda  06001
1  488  San Jose-San Francisco-Oakland, CA  Contra Costa  06013
2  488  San Jose-San Francisco-Oakland, CA         Marin  06041
3  488  San Jose-San Francisco-Oakland, CA          Napa  06055
4  488  San Jose-San Francisco-Oakland, CA    San Benito  06069

In [12]:
geo.dtypes

CSA             int64
CSA_name       object
County_name    object
STCO           object
dtype: object

In [11]:
STCO = list(geo['STCO'])

print(type(STCO))
print(len(STCO))
STCO[:10]

<class 'list'>
270

['06001',
 '06013',
 '06041',
 '06055',
 '06069',
 '06075',
 '06077',
 '06081',
 '06085',
 '06087']

## Getting the 'annual_avg_emplvl' for all industries for every county in the major US metros of this analysis 
using the `qcewGetAreaData()` function built by the BLS QCEW

In [20]:
JobsCO17 = []

for i in STCO:
    county = qcewGetAreaData("2017","A", i)
    county = pd.DataFrame(county)
    county.columns = county.iloc[0]
    county = county[1:]
    county.columns = [i.replace('"', '') for i in county.columns]
    county = county.replace({'"':''}, regex=True)
    
    county = county[['area_fips','annual_avg_emplvl']][:1]
    
    JobsCO17.append(county)

JobsCO17 = pd.concat(JobsCO17)
JobsCO17.columns = ['STCO', 'Total_emp17']
JobsCO17 = JobsCO17.set_index('STCO')

print(JobsCO17.shape)
JobsCO17.head()

(270, 1)

      Total_emp17
STCO
06001      772071
06013      366799
06041      115421
06055       76765
06069       16977

In [22]:
JobsCO10 = []

for i in STCO:
    county = qcewGetAreaData("2010","A", i)
    county = pd.DataFrame(county)
    county.columns = county.iloc[0]
    county = county[1:]
    county.columns = [i.replace('"', '') for i in county.columns]
    county = county.replace({'"':''}, regex=True)
    
    county = county[['area_fips','annual_avg_emplvl']][:1]
    
    JobsCO10.append(county)

JobsCO10 = pd.concat(JobsCO10)
JobsCO10.columns = ['STCO', 'Total_emp10']
JobsCO10 = JobsCO10.set_index('STCO')

print(JobsCO10.shape)
JobsCO10.head()

HTTPError: HTTP Error 404: Not Found

In [ ]:
JobsCO = JobsCO10.merge(JobsCO17, left_index=True,
                                 right_index=True)

print(JobsCO.shape)
JobsCO.head()

# PEP Housing 2017

In [24]:
import json
import requests 
import urllib
import numpy as np


#read in in the variables available. the info you need is in the 1year ACS data
url = "https://api.census.gov/data/2017/pep/housing/variables.json"
resp = requests.request('GET', url)
aff1y = json.loads(resp.text)

In [25]:
#turning things into arrays to enable broadcasting
#Python3
affkeys = np.array(list(aff1y['variables'].keys()))

affkeys

array(['in', 'DIVISION', 'LASTUPDATE', 'COUNTY', 'GEONAME', 'for',
       'DATE_DESC', 'DATE', 'HUEST', 'NATION', 'SUMLEV', 'REGION'],
      dtype='<U10')

In [26]:
# keyword for POP estimates
totalHU = 'HUEST'

aff1y['variables'][totalHU]

{'concept': 'Estimate Variables',
 'group': 'N/A',
 'label': 'Housing Unit Estimate',
 'limit': 0,
 'predicateType': 'int',
 'validValues': []}

In [42]:
# HU2017 data for all counties in the US
totalHU17 = pd.read_json('https://api.census.gov/data/2017/pep/housing?get='+
                         'GEONAME,HUEST&for=' +
                        'county:*&in=state:*&DATE=10')
totalHU17.columns = totalHU17.iloc[0]
totalHU17 = totalHU17[1:]

totalHU17['state'] = totalHU17['state'].apply(lambda x: '{0:0>2}'.format(x))
totalHU17['county'] = totalHU17['county'].apply(lambda x: '{0:0>3}'.format(x))
totalHU17['STCO'] = totalHU17[['state', 'county']].apply(lambda x: ''.join(x), axis=1)

totalHU17 = totalHU17.drop(['state', 'county', 'DATE', 'GEONAME'], axis=1)
totalHU17.columns = ['TotalHousing17','STCO']

# Merging with my geo-coded data set
totalHU17 = totalHU17.merge(geo, on='STCO').set_index('STCO')

print(totalHU17.shape)
totalHU17.head(20)

(270, 4)

,TotalHousing17,CSA,CSA_name,County_name
STCO,,,,
09001,372981,408,"New York-Newark, NY-NJ-CT-PA",Fairfield
09005,88285,408,"New York-Newark, NY-NJ-CT-PA",Litchfield
09009,367195,408,"New York-Newark, NY-NJ-CT-PA",New Haven
09015,49742,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Windham
25001,163533,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Barnstable
25005,235450,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Bristol
25009,313193,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Essex
25017,634416,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Middlesex
25021,278749,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Norfolk
25023,206798,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Plymouth
25025,336205,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Suffolk
25027,334986,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Worcester
33001,38616,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Belknap
33011,171096,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Hillsborough
33013,64977,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Merrimack
33015,132260,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Rockingham
33017,53802,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Strafford
44001,21025,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Bristol
44003,74389,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Kent
44005,42535,148,"Boston-Worcester-Providence, MA-RI-NH-CT",Newport

# Housing-Jobs balance 2017

In [9]:
CSAs17 = qcewGetAreaData("2017", "A", "USCMS")
CSAs17 = pd.DataFrame(CSAs17)
CSAs17.columns = CSAs17.iloc[0]
CSAs17 = CSAs17[1:]
CSAs17.columns = [i.replace('"', '') for i in CSAs17.columns]
CSAs17 = CSAs17.replace({'"':''}, regex=True)


CSAs17

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,annual_avg_estabs,annual_avg_emplvl,...,oty_total_annual_wages_chg,oty_total_annual_wages_pct_chg,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg
1,USCMS,0,10,92,0,2017,A,,7100367,110334970,...,288338055550,4.8,42105112549,3.4,-1572394841,-5.2,35,3.3,1824,3.3
2,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

----

## Downloaded + cleaned data for years 2000-2017 
_Downloaded and munged by Dara Goldberg_

In [4]:
AlltractsGeo = pd.read_excel("data/ALL Tract Geo Codes.xlsx")
print(AlltractsGeo.shape)
AlltractsGeo.head()

(28066, 5)

         TRACT  CSA   STCO  ST  CO
0  10001041600  428  10001  10   1
1  10003001300  428  10003  10   3
2  10003011100  428  10003  10   3
3  10003011600  428  10003  10   3
4  10003013200  428  10003  10   3

In [21]:
BLS_CSA = pd.read_excel("US Major Metro Comparison_1990-2017_0614.xlsx", sheet_name='TOTAL_ALL 2017'
                       ,skiprows=[0,1,4,17,19]).iloc[:15,:10]

BLS_CSA.iloc[:,3:] = BLS_CSA.iloc[:,3:].astype(int)
BLS_CSA['CSA'][BLS_CSA['CSA'] == 'US000'] = 'FullUS'
BLS_CSA['Name'][BLS_CSA['CSA'] == 'FullUS'] = 'FullUS'
BLS_CSA['FullName'][BLS_CSA['CSA'] == 'FullUS'] = 'FullUS'


print(BLS_CSA.columns)
print(BLS_CSA.shape)
BLS_CSA

KeyError: 'CSA'

# 2 - Data cleaning and munging

## Total by Industry by Regions
## Total by Industry by Regions - City to region ratio / comparison
## Change by Industry by Regions 
## Change by Industry by Regions - City to region ratio / comparison
## Wages + change by Region (city/region)